<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2>
        No se puede guardar este usuario debido a <%= usuario.errors.count %>
        <%= if (usuario.errors.count==1)
              "error"
            else
              "errores"
            end %>
      </h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message%></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label "Rol" %>
    <%= form.select :role_id, Role.all.collect {|r| [r.rol, r.id]}%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>